@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply box-border;
  }
  
  body {
    @apply bg-gray-950 text-white antialiased;
  }
  
  ::-webkit-scrollbar {
    @apply w-2;
  }
  
  ::-webkit-scrollbar-track {
    @apply bg-gray-900;
  }
  
  ::-webkit-scrollbar-thumb {
    @apply bg-purple-600 rounded-full;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    @apply bg-purple-500;
  }
}

